<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="peng" class="org.sanket.engine.PetrolEngine"></bean>
        <bean id="deng" class="org.sanket.engine.DieselEngine"></bean>
        <bean id="startEngine" class="org.sanket.engine.StartEngineBy">
                <property name="engine" ref="peng">

                </property>
        </bean>

</beans>